<div class="container login">
<h1>Edit Account</h1>

<%= form_for @user do |f| %>

    <div>
        <%= f.label "First Name" %>
        <%= f.text_field :fname %>
    </div>

    <div>
        <%= f.label "Last Name" %>
        <%= f.text_field :lname %>
    </div>

    <div>
        <%= f.label :username %>
        <%= f.text_field :uname %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
    </div>

    <div>
        <%= f.submit 'Edit Account', :class => 'btn btn-primary' %>
    </div>

<% end %>

</div>