
<div class="container">
<h1><%=@user.fname%> <%=@user.lname%>'s profile</h1><br>

<% if current_user == @user %><%= link_to "Create new post", new_user_post_path(current_user.id), :class => 'btn btn-primary' %> <% else %><% end %>

<% if current_user == @user %> <%= link_to "Edit Account", edit_user_path(current_user.id), :class => 'btn btn-primary'  %><% else %><% end %>

<% if current_user == @user %> <%= link_to "Delete Account", @user, :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger'  %><% else %><% end %>


<% @posts.reverse.each do |post| %>
    <div class="post">
    <h3>
    <%=post.id  %> <%=link_to post.title, user_post_path(@user.id, post.id)  %>
    </h3>
     <% if current_user == @user %>
      <%= link_to 'Edit',  edit_user_post_path(current_user, post.id), :class => 'btn btn-primary'%>
      <%= link_to 'Delete', post, :method => :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-danger' %>
    <% else %>
    <% end %>
    <p class="post-text"><%=post.content  %></p>
    </div>
<% end %>  
</div>

