<div class="container post">
<%= form_for @post, url: user_posts_path(current_user) do |f|  %>


    <div>
        <%= f.label "Title" %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label "Content" %>
        <%= f.text_area :content, :class => 'form-control' %>
    </div>

    <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>


    <div>
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
    </div>

<% end %>
</div>