<h1>View Post</h1>

<h2><%= @post.title %></h2>
<p><%= @post.content %></h1>

<%= form_for @comment do |f|  %>

    <div>
        <%= f.label "Comment" %>
        <%= f.text_field :content %>
    </div>

    <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div>
        <%= f.hidden_field :post_id, :value => @post.id%>
    </div>

    <div>
        <%= f.submit 'Submit' %>
    </div>

<% end %>

<h1>Comments</h1>
    <% @comments.each do |f| %>
        <% @commentuser = User.find(f.user_id) %>
        <h4>By: <%=@commentuser.fname  %></h4> <p><%= f.content %></p>
    <% end %>