<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Create Account</a></li>
    <li><a href="/login">Login</a></li>
    <%if logged_in? %>
      <li><a href="/users">Users</a></li>
      <li><a href="/users/<%=current_user.id%>">Profile</a></li>
      <li><%= link_to "Log Out", logout_path, method: "delete"%></li>
      <li><a href="/posts">Posts</a></li>
    <%else%>
    <%end%>
  </ul>
    <%if current_user == nil%><p>Not logged in</p><%else%><p>Logged in as: <%=current_user.fname%></p><%end%>
   
    <%= yield %>
  </body>
</html>
